html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

li {
	list-style: none;
}

* {
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*======= Preloader =======*/
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.cssload-dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	outline: 2px solid red;
	filter: url(#goo);
		-o-filter: url(#goo);
		-ms-filter: url(#goo);
		-webkit-filter: url(#goo);
		-moz-filter: url(#goo);
}

.cssload-dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.cssload-dot:before {
	content: "";
	width: 57px;
	height: 57px;
	border-radius: 81px;
	background: rgba(251,211,1,0.64);
	position: absolute;
	left: 50%;
	transform: translateY(0);
		-o-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	margin-left: -28.5px;
	margin-top: -28.5px;
}



.cssload-dot:nth-child(5):before {
	z-index: 100;
	width: 73.5px;
	height: 73.5px;
	margin-left: -36.75px;
	margin-top: -36.75px;
	animation: cssload-dot-colors 2.8s ease infinite;
		-o-animation: cssload-dot-colors 2.8s ease infinite;
		-ms-animation: cssload-dot-colors 2.8s ease infinite;
		-webkit-animation: cssload-dot-colors 2.8s ease infinite;
		-moz-animation: cssload-dot-colors 2.8s ease infinite;
}


.cssload-dot:nth-child(1) {
	animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
		-o-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
		-ms-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
		-webkit-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
		-moz-animation: cssload-dot-rotate-1 2.8s 0s linear infinite;
}
.cssload-dot:nth-child(1):before {
	background-color: rgb(255,50,112);
	animation: cssload-dot-move 2.8s 0s ease infinite;
		-o-animation: cssload-dot-move 2.8s 0s ease infinite;
		-ms-animation: cssload-dot-move 2.8s 0s ease infinite;
		-webkit-animation: cssload-dot-move 2.8s 0s ease infinite;
		-moz-animation: cssload-dot-move 2.8s 0s ease infinite;
}

.cssload-dot:nth-child(2) {
	animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
		-o-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
		-ms-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
		-webkit-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
		-moz-animation: cssload-dot-rotate-2 2.8s 0.7s linear infinite;
}
.cssload-dot:nth-child(2):before {
	background-color: rgb(32,139,241);
	animation: cssload-dot-move 2.8s 0.7s ease infinite;
		-o-animation: cssload-dot-move 2.8s 0.7s ease infinite;
		-ms-animation: cssload-dot-move 2.8s 0.7s ease infinite;
		-webkit-animation: cssload-dot-move 2.8s 0.7s ease infinite;
		-moz-animation: cssload-dot-move 2.8s 0.7s ease infinite;
}

.cssload-dot:nth-child(3) {
	animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
		-o-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
		-ms-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
		-webkit-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
		-moz-animation: cssload-dot-rotate-3 2.8s 1.4s linear infinite;
}
.cssload-dot:nth-child(3):before {
	background-color: rgb(175,225,2);
	animation: cssload-dot-move 2.8s 1.4s ease infinite;
		-o-animation: cssload-dot-move 2.8s 1.4s ease infinite;
		-ms-animation: cssload-dot-move 2.8s 1.4s ease infinite;
		-webkit-animation: cssload-dot-move 2.8s 1.4s ease infinite;
		-moz-animation: cssload-dot-move 2.8s 1.4s ease infinite;
}

.cssload-dot:nth-child(4) {
	animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
		-o-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
		-ms-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
		-webkit-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
		-moz-animation: cssload-dot-rotate-4 2.8s 2.1s linear infinite;
}
.cssload-dot:nth-child(4):before {
	background-color: rgb(251,211,1);
	animation: cssload-dot-move 2.8s 2.1s ease infinite;
		-o-animation: cssload-dot-move 2.8s 2.1s ease infinite;
		-ms-animation: cssload-dot-move 2.8s 2.1s ease infinite;
		-webkit-animation: cssload-dot-move 2.8s 2.1s ease infinite;
		-moz-animation: cssload-dot-move 2.8s 2.1s ease infinite;
}

@keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-114px);
		        transform: translateY(-114px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes cssload-dot-move {
	0% {
		-webkit-transform: translateY(0);
	}
	18%, 22% {
		-webkit-transform: translateY(-114px);
	}
	40%, 100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@-webkit-keyframes cssload-dot-colors {
	0% {
		background-color: rgb(251,211,1);
	}
	25% {
		background-color: rgb(255,50,112);
	}
	50% {
		background-color: rgb(32,139,241);
	}
	75% {
		background-color: rgb(175,225,2);
	}
	100% {
		background-color: rgb(251,211,1);
	}
}

@keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
		        transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
		        transform: rotate(270deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-1 {
	0% {
		-webkit-transform: rotate(-105deg);
	}
	100% {
		-webkit-transform: rotate(270deg);
	}
}

@keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
		        transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
		        transform: rotate(540deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-2 {
	0% {
		-webkit-transform: rotate(165deg);
	}
	100% {
		-webkit-transform: rotate(540deg);
	}
}

@keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
		        transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
		        transform: rotate(810deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-3 {
	0% {
		-webkit-transform: rotate(435deg);
	}
	100% {
		-webkit-transform: rotate(810deg);
	}
}

@keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
		        transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
		        transform: rotate(1080deg);
	}
}

@-webkit-keyframes cssload-dot-rotate-4 {
	0% {
		-webkit-transform: rotate(705deg);
	}
	100% {
		-webkit-transform: rotate(1080deg);
	}
}

/*==============Header=============*/
.header-menu {
  -webkit-box-shadow: 0 3px 0 5px #E6E6E6;
          box-shadow: 0 3px 0 5px #E6E6E6;
}

.header-menu_content {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.header-menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-logolink {
	height: 76px;
}

.header-menu_logo {
  width: 180px;
  height: 100%;
}

.header-menu-mobile {
  width: 30px;
  display: none;
}

.header-menu-mobile_item {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 30px;
  margin: 5px 0;
}

.header-menu-link,
.header-menu-link1 {
  margin: 0 20px;
  color: #5B5B5B;
  font-size: 14px;
  font-family: 'CeraPro', sans-serif;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 70px;
}

.header-menu-link1 {
  line-height: 14px;
  margin: 10px;
  text-align: center;
}

.header-menu-link:hover,
.header-menu-link1:hover {
  color: #CEA262;
  text-decoration: none;
}

.header-menu-link::before,
.header-menu-link1::before {
  content: "";
  width: 0;
  height: 0.15em;
  position: absolute;
  bottom: -2px;
  left: 50%;
  background: #CEA262;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 1;
}

.header-menu-link:hover:before,
.header-menu-link1:hover:before {
  width: 100%;
  left: 0;
  background: #CEA262;
}

.header-menu-nav {
  margin-left: 10px;
	height: 70px;
}

.header-menu-li {
  display: inline-block;
	list-style: none;
	position: relative;
}

.header-menu-li-1 {
	bottom: 69.5px;
}

.fa-chevron-down {
  position: absolute;
  top: 18px;
  left: 22px;
}

.header-sub-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
  top: -500em;
  left: -5px;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
  background-color: #fff;
  z-index: 2;
}

.header-sub-menu:hover .header-sub-li {
  opacity: 1;
  top: 60px;
}

.header-menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.header-menu-basket {
  font-size: 14px;
  color: #333333;
  font-weight: 300;
  padding: 17px 20px;
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  font-family: 'CeraPro', sans-serif;
}

.header-menu-icon {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 4px;
}

.header-menu-phone {
  margin: 0 21px;
  padding-top: 20px;
  font-family: 'CeraPro', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.header-menu-call {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 32px;
  background-color: #CEA262;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header-menu-call:hover {
  cursor: pointer;
  -webkit-transform: skewX(-25deg) scale(1.1);
      -ms-transform: skewX(-25deg) scale(1.1);
          transform: skewX(-25deg) scale(1.1);
}

.call,
.call1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 4;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-pop-up {
  background-color: #F7F7F7;
  width: 450px;
  height: 390px;
  padding: 30px;
  position: relative;
}

.call-close {
  position: absolute;
  top: 0;
  right: -45px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.call-close:hover {
  cursor: pointer;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.call-content {
  border: 3px solid #D2B48C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-title {
  font-size: 30px;
  font-weight: 600;
  color: #333333;
  background-color: #F7F7F7;
  font-family: 'Roboto Slab', sans-serif;
  position: relative;
  bottom: 25px;
  padding: 0 20px;
}

.call-label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25.5%;
  font-family: 'CeraPro', sans-serif;
  font-weight: 300;
  color: #888888;
  font-size: 16px;
  padding-top: 16px;
}

.call-input {
  width: 210px;
  height: 50px;
  font-family: 'CeraPro', sans-serif;
  font-size: 20px;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
  -webkit-box-shadow: 0 3px 0 1.5px rgba(0,0,0,0.1);
          box-shadow: 0 3px 0 1.5px rgba(0,0,0,0.1);
}

.call-submit {
  margin-top: 27px;
  margin-bottom: 20px;
  width: 210px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  background-color: #CEA262;
  border: none;
  border-radius: 6px;
}

.call-submit:hover,
.thanks-comeback:hover {
  cursor: pointer;
}

.call-text {
  max-width: 350px;
  font-weight: 300;
  font-size: 12px;
  font-family: 'CeraPro', sans-serif;
  text-align: center;
  padding-bottom: 28px;
}

.call-link,
.call-link:hover {
  color: #7368A6;
  text-decoration: none;
}

.thanks {
  width: 450px;
  height: 250px;
  background-color: #F7F7F7;
  padding: 30px;
  position: relative;
}

.thanks-text {
  margin-top: 60px;
  font-size: 18px;
  font-family: 'CeraPro', sans-serif;
  color: #333333;
  line-height: 1.4;
  text-align: center;
}

.thanks-comeback {
  margin-top: 27px;
  margin-bottom: 20px;
  width: 210px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  background-color: #CEA262;
  border: none;
  border-radius: 6px;
}

/*============= Footer =============*/
.footer {
	margin: 0 auto;
	max-width: 1410px;
}

.footer-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 60px;
}

.footer-content-item {
	padding-top: 50px;
	margin-right: 134px;
}

.footer-content-item-1 {
	margin-right: 0;
}

.footer-content-title {
	color: #333333;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'CeraPro', sans-serif;
}

.footer-content-ul {
	margin-top: 24px;
}

.footer-content-link {
	color: #888888;
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
	display: inline-block;
	padding: 8px 0;
	font-family: 'CeraPro', sans-serif;
}

.footer-content-link:hover {
	color: #333333;
}

.footer-content-icon {
	margin-right: 10px;
}

.footer-content-location {
	color: #333333;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 600;
	margin-top: 18px;
}

.footer-content-email {
	color: #9087B8;
	text-decoration: none;
	font-family: 'CeraPro', sans-serif;
	border-bottom: 1px solid #9087b8;
	display: inline-block;
	margin: 24px;
}

.footer-content-span {
	padding-left: 24px;
}

.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1410px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 70px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer-bottom-copy {
	font-size: 14px;
	font-family: 'CeraPro', sans-serif;
	color: #333333;	
}

.footer-socials {
	color: #9087B8;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #9087B8;
	text-align: center;
	padding-top: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 5px;
}