/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
  .header-menu_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 910px) {
  .footer-content-item,
  .footer-content-item-1 {
    margin-right: 67px;
    margin-left: 67px;
  }

  .footer-content-ul,
  .footer-content-title {
    text-align: center;
  } 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 840px) {
  .footer-bottom {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }

  .footer-bottom-copy {
    text-align: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 780px) {
  .header-menu {
    background-color: rgba(86, 179, 25, 0.5);
  }

  .header-menu_logo {
    width: 100%;
    height: 100px;
  }

  .header-menu-logolink {
	margin-bottom: 30px;
}

  .header-menu-mobile {
    display: block;
    position: absolute;
    right: 5%;
    top: 15px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  
  .header-menu-li-1 {
    bottom: 0;
  }

  .header-menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: -20px;
    top: -500px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 90%;
    z-index: 3;
  }

  .fa-chevron-down {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .header-menu-li {
    background-color: #B34EE9;
    width: 100%;
    border-bottom: 1px solid black;
    padding-left: 15px;
  }

  .header-sub-li {
    background-color: #B34EE9;
    left: 120px;
  }

  .header-sub-menu:hover .header-sub-li {
    opacity: 1;
    top: 36px;
  }

  .header-menu_left,
  .header-menu_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 620px) {
  .call-pop-up {
    width: 70%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px) {
  .footer-bottom {
    height: 140px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
  .call-pop-up {
    width: 60%;
    height: 400px;
  }

  .call-text {
    padding: 0 5px;
  }

  .call-title {
    padding: 0 5px;
  }

  .call-close {
    right: -30px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 460px) {
  .header-menu-mobile {
    right: 2.5%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 420px) {
  .call-pop-up {
    width: 80%;
    height: 400px;
  }

  .call-close {
    right: 1px;
    top: -35px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 384px) {
  .footer-br {
    display: none;
  }

  .footer-content-span {
    padding-left: 0;
  }

  .footer-content-span-1 {
    padding-left: 24px;
  }
}