/*============= 1 screen =============*/
.whom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F7F7F7;
  margin-top: 10px;
  padding-left: 15.5%;
}

.whom-item {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'CeraPro', sans-serif;
  color: #333333;
  margin: 0 25px;
}

.whom-img {
  margin-right: 10px;
}

.whom-text {
  position: relative;
  bottom: 5px;
}

.build {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.build-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1410px;
  z-index: 3;
}

.build-items {
  width: 500%;
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.build-item {
  width: 20%;
  background: url('../img/header-slider-bg1.jpg') no-repeat;
  background-position: center -130px;
  background-size: cover;
  position: relative;
}

.build-content {
  max-width: 1410px;
  padding: 0 2%;
  padding-top: 78px;
  margin: 0 auto;
  padding-left: 8.51%;
  padding-bottom: 432px;
  position: relative;
}

.build-left {
  position: absolute;
  left: 2%;
  top: 200px;
}

.build-right {
  position: absolute;
  right: 2%;
  top: 200px;
}

.build-left:hover,
.build-right:hover {
  cursor: pointer;
}

.build-title {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
}

.build-description {
  color: #fff;
  font-size: 18px;
  font-family: 'CeraPro', sans-serif;
  max-width: 780px;
  margin-top: 30px;
  margin-bottom: 78px;
}

.build-offer {
  font-size: 14px;
  color: #fff;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  padding: 20px 78px;
  border: none;
  border-radius: 5px;
  background-color: #CEA262;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.build-offer:hover {
  color: #CEA262;
  background-color: #fff;
}

.build-count {
  position: absolute;
  bottom: 280px;
  right: 2%;
  color: #F7F7F7;
  font-size: 18px;
  font-weight: 400;
  font-family: 'CeraPro', sans-serif;
}

.build-count-span {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.filter {
  margin: 0 auto;
  padding: 2%;
  max-width: 1410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	position: relative;
	bottom: 250px;
}

.filter-left {
	background-color: #333333;
	-webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 55, 0.66);
	box-shadow: 0px 7px 10px 0px rgba(50, 50, 55, 0.66);
}

.filter-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 21px;
  margin-right: 5em;
}

.check {
  margin-right: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'CeraPro', sans-serif;
  text-transform: uppercase;
  position: relative;
}

.check__input {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.check__box {
	position: absolute;
	left: -11px;
	width: 25px;
	height: 25px;
	background-image: url('../icons/option.png');
  background-repeat: no-repeat;
}

/* Checked */

.check__input:checked + .check__box {
	background-image: url('../icons/checked.png');
  background-repeat: no-repeat;
}

.check-label {
  margin-left: 20px;
}

.filter-resert {
	color: #9F97C1;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 16px;
	font-family: 'CeraPro', sans-serif;
	height: 20px;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.filter-resert:hover{
	cursor: pointer;
}

.filter-resert:hover .filter-resert_span {
	border-bottom: none;
}

.filter-resert:hover .fa-times {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.filter-resert_span {
	border-bottom: 1px solid #9F97C1;
}

.fa-times {
	margin-right: 5px;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.filter-right {
	width: 210px;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 55, 0.66);
	box-shadow:         5px 5px 10px 0px rgba(50, 50, 55, 0.66);
}

.filter-watch {
	color: #9F97C1;
	font-size: 16px;
	font-family: 'CeraPro', sans-serif;
	height: 20px;
	padding-top: 13px;
	height: 55px;
	border-bottom: 1px solid #EAEAEA;
}

.filter-watch_icon {
	width: 22px;
	height: 22px;
	position: relative;
	top: 4px;
}

.filter-number {
	margin-top: 32px;
	font-size: 48px;
	color: #333333;
	font-family: 'CeraPro', sans-serif;
	font-weight: 600;
}

.filter-offer {
	color: #888888;
	font-size: 16px;
	font-weight: 400;
	font-family: 'CeraPro', sans-serif;
	position: relative;
	top: -6px;
}

.filter-button {
	padding: 20px 45px;
}

.filter-forms {
	background-color: #f7f7f7;
}

.filter-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0 20px;
}

.filter-item {
	margin: 10px 0px;
}

.filter-item-align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter-item_title {
	font-family: 'CeraPro', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	color: #888888;
	margin-bottom: 9px;	
}

.filter-currency {
	color: #333333;
	font-size: 18px;
	width: 40px;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 5px;
	background-color: #EAEAEA;
	font-family: 'CeraPro', sans-serif;
	cursor: pointer;
	margin-right: 10px;

}

.filter-checked {
	background-color: #8E85B7;
	color: #fff;
}

.filter-inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	width: 240px;
}

.filter-input {
	width: 110px;
	height: 50px;
	text-align: center;
	font-family: 'CeraPro', sans-serif;
	border: none;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 0 3px #F2F2F2;
	        box-shadow: 0 3px 0 3px #F2F2F2;
	position: relative;
}

.filter-input_placeholder {
	position: absolute;
	top: -15px;
	right: 200px;
	z-index: 2;
	font-size: 14px;
	color: #D3D3D3;
	position: relative;
	font-family: 'CeraPro', sans-serif;
}

.filter-input_placeholder1 {
	position: absolute;
	top: -15px;
	right: 35px;
	z-index: 2;
	font-size: 14px;
	color: #D3D3D3;
	position: relative;
	font-family: 'CeraPro', sans-serif;
} 

.filter-input:focus,
.filter-select:focus {
	-webkit-box-shadow: 0 0 0 2px grey;
	        box-shadow: 0 0 0 2px grey;
	outline: none;
}

.filter-hr {
	background-color: #7E74AC;
	height: 1.3px;
	width: 12px;
	margin: 0 3px;
}

.filter-select  {
	width : 220px;
	height: 50px;
	border: none;
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 0 3px #F2F2F2;
	        box-shadow: 0 3px 0 3px #F2F2F2;
}

.filter-currency_margin {
	margin-right: 20px;
}

.filter-check {
	color: #333333;
	font-size: 15px;
	font-family: 'CeraPro', sans-serif;
	width: 140px;
	height: 30px;
	border-radius: 30px;
	background-color: #EAEAEA;
	text-align: center;
	line-height: 30px;
	position: relative;
	cursor: pointer;
	margin-top: 16px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.filter-check-point {
	position: absolute;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: #8E85B7;
	top: -1px;
	right: 0;
	left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.filter-check-point1 {
	left: 0;
	right: auto;
}

.filter-point_item {
	width: 6px;
	height: 1px;
	background-color: #ffffff;
	margin-bottom: 2px;
}


.filter-check1 {
	height: 1.06px;
}

.filter-margin {
	margin-left: 10px;
	margin-right: 10px;
}

.filter-margin2 {
	margin-left: 12px;
	margin-right: 12px;
}

/*============= 2 screen =============*/
.main {
	position: relative;
	bottom: 230px;
	background-color: #F7F7F7;
}

.main-top {
	max-width: 1410px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 22px;
	padding: 0 1%;
}

.main-top_title {
  font-family: 'Roboto Slab', sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #333333;
}

.main-filter {
	margin-right: 20px;
	font-family: 'CeraPro', sans-serif;
	font-size: 16px;
	color: #888888;
}

.apartments {
	max-width: 1410px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.apartments-item {
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	max-width: 450px;
	margin: 0 10px;
	margin-bottom: 30px;
}

.apartments-item:hover {
	-webkit-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.36);
	box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.36);
}

.apartments-item:hover .apartment-item_hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

.apartments-item_top {
	background-color: #ffffff;
	padding: 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.apartments-item_title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
}

.apartments-item_sub-title {
	font-size: 16px;
	font-family: 'CeraPro', sans-serif;
	color: #888888;
	margin-top: 8px;
}

.apartments-item_content {
	position: relative;
	width: 100%;
	height: 300px;
	background: url('../img/offer1.png') no-repeat;
}

.apartments-offer2 {
	background: url('../img/offer2.png') no-repeat;
}

.apartments-offer3 {
	background: url('../img/offer3.png') no-repeat;
}

.apartments-offer4 {
	background: url('../img/offer4.png') no-repeat;
}

.apartments-offer5 {
	background: url('../img/offer5.png') no-repeat;
}

.apartments-offer6 {
	background: url('../img/offer6.png') no-repeat;
}

.apartments-offer7 {
	background: url('../img/offer7.png') no-repeat;
}

.apartments-offer8 {
	background: url('../img/offer8.png') no-repeat;
}

.apartments-offer9 {
	background: url('../img/offer9.png') no-repeat;
}

.apartments-offer10 {
	background: url('../img/offer10.png') no-repeat;
}

.apartments-offer11 {
	background: url('../img/offer11.png') no-repeat;
}

.apartments-offer12 {
	background: url('../img/offer12.png') no-repeat;
}

.apartments-item_save {
	width: 90px;
	height: 30px;
	border-radius: 6px;
	font-family: 'CeraPro', sans-serif;
	color: #ffffff;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #D35339;
	position: absolute;
	top: 11px;
	left: 11px;
	text-align: center;
}

.apartments-item_prize {
	background-color: #999950;
	width: 120px;
	top: 50px;
	font-size: 14px;
}

.apartment-item_add {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: #F7F7F7;
	position: absolute;
	top: -10px;
	right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}

.apartment-item_hover {
	opacity: 0;
	position: absolute;
	left: -2px;
	bottom: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translateY(-600px);
	    -ms-transform: translateY(-600px);
	        transform: translateY(-600px);
}

.apartment-item_hover-item {
	width: 87px;
	height: 3px;
	background-color: #ffffff;
	margin: 0 2px;
}

.apartment-item_bottom {
	padding: 16px 30px;
	padding-bottom: 25px;
	background-color: white;
}

.apartment-item_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 450px;
}

.apartment-item_li {
	margin-right: 46px;
}

.apartment-item_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.apartment-item_span {
	margin-left: 8px;
	font-family: 'CeraPro', sans-serif;
	color: #333333;
	position: relative;
	bottom: 4px;
	display: inline-block;
	padding-bottom: 12px;
}

.apartment-item-hr {
	background-color: #EAEAEA;
}

.apartment-item_cost {
	font-weight: 500;
	font-family: 'CeraPro', sans-serif;
	font-size: 30px;
	color: #333333;
	text-align: center;
	margin-top: 18px;
}

/*============= 3 screen =============*/
.best {
	max-width: 1410px;
	height: 550px;
	border: 10px solid #D2B48C;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	padding: 45px 96px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
	margin-bottom: 80px;
}

.best-title {
	color: #333333;
	font-size: 36px;
  font-family: 'Roboto Slab', sans-serif;
	text-align: center;
	background-color: #f7f7f7;
	position: absolute;
	top: -32px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 670px;
}

.best-arrows {
	position: absolute;
	top: 214px;
	cursor: pointer;
}

.best-left {
	left: 30px;
}

.best-right {
	right: 30px;
}

.best-slider {
	width: 100%;
	overflow-x: hidden;
}

.best-slides {
	width: 200%;
	position: relative;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}

.best-slide {
	max-width: 370px;
	margin: 0 15px;
	position: relative;
}

.best-slide-top {
	background-color: #fff;
	text-transform: uppercase;
	padding: 24px 0;
	padding-left: 31px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	font-weight: 600;
	font-family: 'CeraPro', sans-serif;
}

.best-add {
	top: 55px;
}

.best-slide-bottom {
	padding: 20px 30px;
	background-color: #fff;
}

.best-slide_location {
	color: #888888;
	font-family: 'CeraPro', sans-serif;
	padding-bottom: 17px;
}

.best-slide_location-2 {
	padding-bottom: 35px;
}

.best-slide_prize {
	margin-top: 17px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.best-slide_prize-1 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	font-family: 'CeraPro', sans-serif;
}

.best-slide_prize-2 {
	text-decoration: line-through;
	color: #888888;
}

.best-button {
	position: absolute;
	left: 50%;
	bottom: -34px;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	padding: 20px 26px;
}

/*============= 4 screen =============*/
.conditions {
	margin: 0 auto;
	max-width: 1410px;
	position: relative;
	margin-top: -150px;
	padding: 0 2%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.conditions-container {
	width: 100%;
	overflow-x: hidden;
}

.conditions-content {
	width: 500%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	left: 0;
}

.conditions-item {
	width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.conditions-arrows {
	position: absolute;
	top: 200px;
	cursor: pointer;
	z-index: 1;
}

.conditions-left {
	left: 0;
}

.conditions-right {
	right: 0;
}

.conditions-item_left {
	margin-left: 55px;
}

.conditions-item_title {
	color: #333333;
	font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
	font-size: 36px;
	padding-top: 10px;
}

.conditions-item_sub-title {
	font-family: 'CeraPro', sans-serif;
	font-size: 24px;
	color: #333333;
	margin-top: 50px;
	margin-bottom: 40px;
}

.conditions-item_text {
	font-weight: 400;
	font-family: 'CeraPro', sans-serif;
	color: #333333;
	font-size: 16px;
	max-width: 510px;
	margin-bottom: 62px;
}

.conditions-item_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 30px;
	color: #333333;
	max-width: 510px;
	font-size: 24px;
	font-family: 'CeraPro', sans-serif;
	font-weight: 500;
}

.conditions-item_square {
	position: relative;
	top: 5px;
}

.conditions-item_right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 95px;
}

.conditions-button {
	position: relative;
	bottom: 25px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(16, 29, 48, 0.29);
	box-shadow:         0px 3px 5px 0px rgba(16, 29, 48, 0.29);
}

/*============= 5 screen =============*/
.give {
	background-color: #f8f8f8;
	padding-top: 80px;
	padding-bottom: 170px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.give-picture {
	position: absolute;
	top: -145px;
	left: -7%;
}

.give-content {
	max-width: 1410px;
	width: 100%;
	border: 10px solid #fff;
	padding: 0 2%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
	height: 435px;
}

.give-form {
	max-width: 610px;
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	bottom: -2px;
	right: 30px;
}

.give-title {
	font-size: 36px;
	padding: 0 30px;
	text-align: center;
	background-color: #f8f8f8;
	margin-bottom: 35px;
	color: #333333;
  font-family: 'Roboto Slab', sans-serif;
}

.give-form_content {
	width: 100%;
	max-width: 332px;
}

.give-label {
	font-family: 'CeraPro', sans-serif;
	color: #888888;
}

.give-input {
	margin-top: 7px;
	margin-bottom: 15px;
	width: 100%;
	border: none;
	border-radius: 6px;
	height: 50px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.55);
}

.give-button {
	height: 50px;
	padding: 20px 65px;
	width: 100%;
	max-width: 330px;
	margin-top: 25px;
}

.give-description {
	font-family: 'CeraPro', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #888888;
	max-width: 560px;
	width: 100%;
	position: absolute;
	bottom: -92px;
	font-style: italic;
}

.give-description_span {
	color: #7368A6;
}

/*============= 6 screen =============*/
.citys {
	max-width: 1410px;
	padding: 0 2%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 70px;
}

.citys-item {
	margin: 0 15px 30px 15px;
	background: url('../img/city1.png') no-repeat;
	background-size: cover;
	width: 440px;
	height: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	position: relative;
}

.citys-item1 {
	width: 675px;
}

.citys-img {
	position: absolute;
	top: 0;
	left: 0;
}

.citys-img1 {
	bottom: -200px;
	position: absolute;
	left: 0;
}

.citys-animation {
	text-align: center;
	-webkit-transform: translateY(-400px);
	    -ms-transform: translateY(-400px);
	        transform: translateY(-400px);
	-webkit-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	background: url('../img/city1.hover.png') no-repeat center;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.citys-animation2 {
	background: url('../img/city2.hover.png') no-repeat center;
}

.citys-animation3 {
	background: url('../img/city3.hover.png') no-repeat center;
}

.citys-animation4 {
	background: url('../img/city4.hover.png') no-repeat center;
}

.citys-animation5 {
	background: url('../img/city5.hover.png') no-repeat center;
}

.citys-title {
	padding-top: 144px;
	font-size: 30px;
	color: #333333;
	font-family: 'Roboto Slab', sans-serif;
}

.citys-offer {
	font-family: 'CeraPro', sans-serif;
	font-size: 16px;
	color: #7368A6;
	text-decoration: underline;
}

.citys-item:hover .citys-animation{
	-webkit-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
}

/*============= 7 screen =============*/
.choise {
	background-color: #F7F7F7;
	margin-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 70px 0;
}

.choise-content {
	max-width: 1228px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 10px solid #D2B48C;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
}

.choise-title {
	position: absolute;
	top: -30px;
	padding: 0 97px;
}

.choise-sub-title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	color: #323232;
}

.choise-form {
	margin-top: 36px;
}

.choise-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.choise-form_item {
	margin:  0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.choise-flex-2 {
	margin: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.choise-find_label {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.choise-textarea {
	margin-top: 8px;
	outline: none;
	-moz-appearance: none;
	resize: none;
	overflow: auto;
	border: none;
	width: 100%;
	max-width: 710px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	border-radius: 6px;
	min-height: 170px;
	margin-bottom: 18px;
}

.choise-flex-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.choise-button {
	padding: 20px 60px;
	margin: 0 15px;
}

.choise-description {
	font-family: 'CeraPro', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #888888;	
	margin: 0 15px;
	max-width: 420px;
	font-style: italic;
}

.choise-br {
	display: none;
}

.choise-input {
	width: 208px;
}

/*============= 8 screen =============*/
.news {
	margin-top: 30px;
}

.news-title {
	text-align: center;
	padding: 23px 15px;
	margin-bottom: 25px;
	background-color: #EFEBFF;
	font-size: 30px;
	color: #333333;
	font-weight: 600; 
	font-family: 'Roboto Slab', sans-serif;
}

.news-link {
	color: #CDA162;
	display: inline-block;
	border-bottom: 3px solid #CDA162;
	padding-bottom: 4px;
	text-decoration: none;
	font-family: 'CeraPro', sans-serif;
}

.news-content {
	max-width: 1410px;
	margin: 0 auto;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.news-content-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 30px;
	background-color: #F7F7F7;
	margin: 15px;
	width: 690px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.news-picture {
	width: 100%;
	margin-bottom: 30px;
}

.news-date {
	font-family: 'CeraPro', sans-serif;
	font-size: 14px;
	color: #888888;
	font-weight: 300;
}

.news-sub-title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 28px;
	margin-top: 40px;
}

.news-description {
	font-family: 'CeraPro', sans-serif;
	font-weight: 300;
	max-width: 620px;
	color: #333333;
	padding-bottom: 60px;
}

.news-right {
	width: 300px;
	margin-right: 30px;
}

.news-content-item-1 {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-bottom: 0;
}

.news-content-item-2 {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-bottom: 0;
	margin-top: 30px;
}

.news-width-1 {
	max-width: 293px;
}

/*============= 9 screen =============*/
.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 50px;
	margin-bottom: 78px;
}

.description-content {
	max-width: 1225px;
	width: 100%;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.description-title {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 36px;
	color: #333333;
	font-weight: 600;
}

.description-sub-title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #333333;
	margin-top: 12px;
	margin-bottom: 50px;
}

.description-text {
	font-family: 'CeraPro', sans-serif;
	font-size: 16px;
	color: #333333;
	font-weight: 300;
	margin-bottom: 38px;
}