.header-crumbs {
  max-width: 1410px;
  margin: 0 auto;
  padding-top: 12px;
}

.crumbs {
  margin-bottom: 10px;
}

.main-crumbs_links {
  font-size: 14px;
  font-family: 'CeraPro', sans-serif;
  color: #333333; 
  text-decoration: none;
  margin-right: 19px; 
  -webkit-transition: 0.6s; 
  -o-transition: 0.6s; 
  transition: 0.6s;
}

.main-crumbs_links:hover {
  color: #D2B48C;
}

.main-link {
  margin-right: 0;
  margin-left: 19px;
  color: #D2B48C;
  position: relative;
}

.main-link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #D2B48C;
  position: absolute;
  top: 5px;
  left: -23px;
}

.main {
  background: url('../img/background.png') no-repeat center;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 170px;
}

.main-block {
  max-width: 1410px;
  width: 100%;
  box-sizing: border-box;
  border: 10px solid #C5A883;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
}

.main-header {
  text-align: center;
  position: absolute;
  max-width: 930px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -390%);
  background: rgb(245, 247, 245);
}

.main-title {
  font-size: 36px;
  color: #323232;
  font-weight: 600;
  font-family: 'Roboto Slab', sans-serif;
}

.main-sub_title {
  font-size: 16px;
  font-family: 'CeraPro', sans-serif;
  color: #333333; 
  font-weight: 400;
}

.main-content {
  display: flex;
  max-width: 1240px;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.main-item {
  margin-right: 30px;
  margin-top: 30px;
}

.main-label {
  font-size: 14px;
  font-family: 'CeraPro', sans-serif;
  color: #727470; 
  font-weight: 300;
  display: inline-block;
  margin-bottom: 4px;
}

.main-input {
  border: none;
  height: 50px;
  box-sizing: border-box;
  color: #8B8B8B;
  padding: 20px;
  border-radius: 6px;
  font-family: 'CeraPro', sans-serif;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.69);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.69);
}

.input1 {
  width: 720px;
}

.input2 {
  width: 240px;
}

.input3 {
  width: 100px;
}


.main-rooms {
  display: flex;
}

.main-rooms-item {
  background-color: #DFDFDF;
  height: 50px;
  width: 45px;
  text-align: center;
  line-height: 50px;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 18px;
  font-family: 'CeraPro', sans-serif;
  transition: 0.6s;
  cursor: pointer;
}

.main-rooms-item-1 {
  margin-right: 0;
}

.main-item-right {
  margin-right: 0;
}

.main-item-1 {
  position: relative;
  top: 15px;
}

.main-repair {
  display: flex;
}

.main-repair-item {
  margin: 0 5px;
  padding: 17px 20px;
  font-size: 18px;
  font-family: 'CeraPro', sans-serif;
  border-radius: 6px;
  background-color: #DFDFDF;
  color: #2D2D2D;
  transition: 0.6s;
}

.main-repair-item:hover {
  cursor: pointer;
}

.main-replanning {
  width: 480px;
  border: none;
  border-radius: 6px;
  height: 50px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.main-replanning-1 {
  width: 240px;
}

.main-window {
  display: flex;
  border: 2px solid #fff;
  box-sizing: border-box;
  padding: 24px 18px;
}

.main-label-window {
  position: relative;
  top: 14px;
  left: 19px;
}

.main-window-item {
  font-size: 16px;
  color: #2F2F2F;
  font-family: 'CeraPro', sans-serif;
  margin-right: 30px;
}

.main-window-item-1 {
  margin-right: 0;
}

.main-window-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.main-window-checkbox {
  width: 17px;
  height: 17px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

/* Option */

.option {
  display: block;
  margin-bottom: 0.5em;
}

/* Check */

.check {
  padding-left: 1.6em;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check__box {
  position: absolute;
  margin-top: 0em;
  margin-left: -1.6em;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 0.2em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #4A90E2;
}

.main-throw_off {
  position: absolute;
  bottom: -30px;
  right: 16.9%;
  cursor: pointer;
}

.main-estimate {
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-button {
  background-color: #fff;
  color: #CB9F60;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'CeraPro', sans-serif;
  border: 2px solid #CB9F60;
  width: 330px;
  height: 50px;
  border-radius: 6px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #CB9F60;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.main-button:hover span {
  transform: translateY(0) scale(2);
}

.main-button span:nth-child(1) {
  --n: 1;
}

.main-button span:nth-child(2) {
  --n: 2;
}

.main-button span:nth-child(3) {
  --n: 3;
}

.main-button span:nth-child(4) {
  --n: 4;
}

.main-button:hover {
  cursor: pointer;
  color: #fff;
}

@media only screen and (max-width : 1410px) {
  .crumbs {
    padding-left: 2%;
  }

  .main-block {
    margin: 0 1%;
    width: 98%;
  }
}	

@media only screen and (max-width : 1275px) {
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
  }

  .main-item-right {
    margin-right: 30px;
  }

  .main-header {
    transform: translate(-50%, -490%);
  }
}	

@media only screen and (max-width : 1060px) {
  .main-header {
    transform: translate(-50%, -560%);
  }
}	

@media only screen and (max-width : 1011px) {
  .main-header {
    transform: translate(-50%, -630%);
    width: 90%;
  }
}

@media only screen and (max-width : 887px) {
  .main-header {
    transform: translate(-50%, -400%);
  }
}

@media only screen and (max-width : 802px) {
  .main-header {
    transform: translate(-50%, -330%);
  }

  .main-content {
    margin-top: 50px;
  }

  .input1 {
    width: 90%;
    min-width: 300px;
  }
}

@media only screen and (max-width : 776px) {
  .main-header {
    transform: translate(-50%, -390%);
  }

  .main-content {
    margin-top: 50px;
  }

  .input1 {
    width: 90%;
    min-width: 300px;
  }
}

@media only screen and (max-width : 720px) {
  .main-header {
    transform: translate(-50%, -520%);
  }

  .main-content {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .input1,.main-replanning {
    width: 100%;
  }
}

@media only screen and (max-width : 653px) {
  .main-repair {
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width : 652px) {
  .main-header {
    transform: translate(-50%, -690%);
  }

  .main-window {
    flex-direction: column;
    width: 200px;
  }

  .main-window-item {
    margin: 10px 0px;
  }
}

@media only screen and (max-width : 456px) {
  .main-header {
    width: 320px;
    transform: translate(-50%, -400%);
  }

  .main-content {
    margin-top: 100px;
  }

  .main-button {
    width: 300px;
  }
}	

@media only screen and (max-width : 370px) {
  .main-content {
    margin-top: 100px;
  }

  .main-input {
    padding: 10px;
  }

  .input1 {
    width: 100%;
    min-width: 220px;
  }

  .main-button {
    width: 230px;
    position: relative;
    right: 10px;
  }
}