.main {
  background-color: #F7F7F7;
}

.main-content {
  margin: 0 auto;
  max-width: 1410px;
  padding-top: 12px;
  padding-bottom: 120px;
}

.main-crumbs {
  margin-bottom: 30px;
}

.main-crumbs_links {
  font-size: 14px;
  font-family: 'CeraPro', sans-serif;
  color: #333333; 
  text-decoration: none;
  margin-right: 19px; 
  -webkit-transition: 0.6s; 
  -o-transition: 0.6s; 
  transition: 0.6s;
}

.main-crumbs_links:hover {
  color: #D2B48C;
}

.main-link {
  margin-right: 0;
  margin-left: 19px;
  color: #D2B48C;
  position: relative;
}

.main-link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #D2B48C;
  position: absolute;
  top: 5px;
  left: -23px;
}

.main-title {
  font-size: 36px;
  color: #333333;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 8px;
}

.main-title-span {
  font-size: 24px;
  font-family: 'CeraPro', sans-serif;
  font-weight: 400;
}

.main-best_prize {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 33px 0;
  background-color: #D2B48C;
}

.main-best_prize-title {
  font-size: 30px;
  font-family: 'Roboto Slab', sans-serif;
  color: #333333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  background-color: #F7F7F7;
  padding: 0 48px;
}

.apartments {
  max-width: 1410px;
	margin: 0 auto;
	margin-bottom: 68px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
}

.apartments-1 {
	justify-content: flex-start;
}

.apartments-item {
	-webkit-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
	max-width: 450px;
	margin: 0 10px;
	margin-bottom: 30px;
}

.apartments-item:hover {
	-webkit-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.36);
	box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.36);
}

.apartments-item:hover .apartment-item_hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

.apartments-item_top {
	background-color: #ffffff;
	padding: 30px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.apartments-item_title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
}

.apartments-item_sub-title {
	font-size: 16px;
	font-family: 'CeraPro', sans-serif;
	color: #888888;
	margin-top: 8px;
}

.apartments-item_content {
	position: relative;
	width: 100%;
	height: 300px;
	background: url('../../img/offer1.png') no-repeat;
}

.apartments-offer2 {
	background: url('../../img/offer2.png') no-repeat;
}

.apartments-offer3 {
	background: url('../../img/offer3.png') no-repeat;
}

.apartments-offer4 {
	background: url('../../img/offer4.png') no-repeat;
}

.apartments-offer5 {
	background: url('../../img/offer5.png') no-repeat;
}

.apartments-offer6 {
	background: url('../../img/offer6.png') no-repeat;
}

.apartments-offer7 {
	background: url('../../img/offer7.png') no-repeat;
}

.apartments-offer8 {
	background: url('../../img/offer8.png') no-repeat;
}

.apartments-offer9 {
	background: url('../../img/offer9.png') no-repeat;
}

.apartments-offer10 {
	background: url('../../img/offer10.png') no-repeat;
}

.apartments-offer11 {
	background: url('../../img/offer11.png') no-repeat;
}

.apartments-offer12 {
	background: url('../../img/offer12.png') no-repeat;
}

.apartments-item_save {
	width: 90px;
	height: 30px;
	border-radius: 6px;
	font-family: 'CeraPro', sans-serif;
	color: #ffffff;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #D35339;
	position: absolute;
	top: 11px;
	left: 11px;
	text-align: center;
	font-size: 14px;
}

.apartments-item_prize {
	background-color: #999950;
	width: 120px;
}

.apartments-item_sale {
	width: 160px;
	background-color: #DC7A2A;
}

.apartment-item_add {
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background-color: #F7F7F7;
	position: absolute;
	top: -10px;
	right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}

.apartment-item_hover {
	opacity: 0;
	position: absolute;
	left: -2px;
	bottom: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translateY(-600px);
	    -ms-transform: translateY(-600px);
	        transform: translateY(-600px);
}

.apartment-item_hover-item {
	width: 87px;
	height: 3px;
	background-color: #ffffff;
	margin: 0 2px;
}

.apartment-item_bottom {
	padding: 16px 30px;
	padding-bottom: 25px;
	background-color: white;
}

.apartment-item_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 450px;
}

.apartment-item_li {
	margin-right: 46px;
}

.apartment-item_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.apartment-item_span {
	margin-left: 8px;
	font-family: 'CeraPro', sans-serif;
	color: #333333;
	position: relative;
	bottom: 4px;
	display: inline-block;
	padding-bottom: 12px;
}

.apartment-item-hr {
	background-color: #EAEAEA;
}

.apartment-item_cost {
	font-weight: 500;
	font-family: 'CeraPro', sans-serif;
	font-size: 30px;
	color: #333333;
	text-align: center;
	margin-top: 18px;
}

.choise {
	background-color: #F7F7F7;
	margin-top: -50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 70px 0;
	position: relative;
	bottom: 100px;
}

.choise-content {
	max-width: 1228px;
	width: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 10px solid #D2B48C;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 25px;
	padding-bottom: 50px;
	position: relative;
}

.choise-title {
	position: absolute;
	top: -30px;
	padding: 0 97px;
}

.choise-sub-title {
	font-family: 'CeraPro', sans-serif;
	font-size: 18px;
	color: #323232;
}

.choise-form {
	margin-top: 36px;
}

.choise-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.choise-form_item {
	margin:  0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.choise-flex-2 {
	margin: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.choise-find_label {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.choise-textarea {
	margin-top: 8px;
	outline: none;
	-moz-appearance: none;
	resize: none;
	overflow: auto;
	border: none;
	width: 100%;
	max-width: 710px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	border-radius: 6px;
	min-height: 170px;
	margin-bottom: 18px;
}

.choise-flex-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.choise-button {
	padding: 20px 60px;
	margin: 0 15px;
}

.choise-description {
	font-family: 'CeraPro', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #888888;	
	margin: 0 15px;
	max-width: 420px;
	font-style: italic;
}

.choise-br {
	display: none;
}

.choise-input {
	width: 208px;
}

.give-title {
	font-size: 36px;
	padding: 0 30px;
	text-align: center;
	background-color: #f8f8f8;
	margin-bottom: 35px;
	color: #333333;
  font-family: 'Roboto Slab', sans-serif;
}

.give-form_content {
	width: 100%;
	max-width: 332px;
}

.give-label {
	font-family: 'CeraPro', sans-serif;
	color: #888888;
}

.give-input {
	margin-top: 7px;
	margin-bottom: 15px;
	width: 100%;
	min-width: 210px;
	border: none;
	border-radius: 6px;
	height: 50px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.55);
}

.give-button {
	height: 50px;
	padding: 20px 65px;
	width: 100%;
	max-width: 330px;
	margin-top: 25px;
}

.build-offer {
  font-size: 14px;
  color: #fff;
  font-family: 'GothamPro', sans-serif;
  font-weight: 600;
  padding: 20px 78px;
  border: none;
  border-radius: 5px;
  background-color: #CEA262;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.build-offer:hover {
  color: #CEA262;
  background-color: #fff;
}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 1260px) {
  .choise-content {
    margin-left: 15px;
    margin-right: 15px;
	}
}	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 940px) {
  .apartments-1 {
		justify-content: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 860px) {
  .choise-br {
    display: block;
  }

  .choise-title {
    position: absolute;
    top: -60px;
    padding: 0 40px;
  }

  .choise-sub-title {
    margin: 0 15px;
    margin-top: 50px;
    text-align: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 780px) {
  .choise-margin-top {
    margin-top: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 620px) {
  .main-best_prize-title {
		height: 30px;
		background-color: #F7F7F7;
		width: 320px;
		padding: 0;
		text-align: center;
		top: -1px;
	}

	.main-best_prize-title-1 {
		top: -10px;
		height: 52px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 544px) {
  .choise-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) { 
  .choise-title {
    max-width: 100%;
	}
	
	.main-title {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 30px;
	}

	.main {
		overflow: hidden;
	}
}

@media only screen and (max-width : 420px) {
  .build-offer {
    padding: 15px 60px;
	}
	
  .choise-title {
    font-size: 30px;
    padding: 5px;
    text-align: center;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 475px) {
  .apartments-item {
    width: 99%;
    max-width: 99%;
  }

  .apartment-item_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}